table {
  border-collapse: collapse;
  margin: 0 auto;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
}

thead {
  /* background: linear-gradient(
    180deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white; */
}

td,
th {
  border-top: 1px solid #d8fae0;
  padding: 16px 24px;
}
